@import 'src/variable.scss';


header {
    padding: 15px 0;
    background: $color-primary;
    color: $color-white;
    h1 {
        margin: 0;
    }
}

.user-info {
    span {
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        &:first-child {
            margin: 0 15px 0 0;
        }
    }
}