/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'src/variable.scss';
@include mat-core();
// $primary: mat-palette($mat-grey);
$primary: mat-palette($mat-deep-purple,  700, 400, 800);
// $accent:  mat-palette($mat-light-blue, 600, 300, 600);
$accent:  mat-palette($mat-deep-purple, 700, 400, 800);
$warn:    mat-palette($mat-red);
$theme:   mat-light-theme($primary,$accent,$warn);
@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-primary {
    background-color: $color-secondary;
    color: $color-white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
