@import 'src/variable.scss';

.home-page-wrapper {
    min-height: 100%;
    background-color: $color-bg;
}

.breadcrumb {
    padding: 2rem 0 0;
    margin: 0 0 1rem;
    .mat-icon {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        border-radius: 100%;
        background-color: $color-primary;
        color: $color-white;
        line-height: 35px;
        vertical-align: middle;
        text-align: center;
    }

    h2 {
        margin: 0;
        letter-spacing: 0.5px;
        span {
            cursor: pointer;
            &:hover {
                color: $color-primary
            }
            &:last-child { 
                cursor: auto;
                &:hover {
                    color: $color-black;
                }
            }
        }
    }
}

.user-detail {
    padding: 25px 0;
}

.user-basic-info {
    padding: 25px 0;
    border-radius: 8px;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    .profile-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 15px; 
        background-color: $color-white;
        mat-icon {
            width: 100%;
            height: 100%;
            font-size: 7rem;
            color: $color-primary;
        }
    }
    h4 {
        margin: 0 0 10px;
        font-size: 24px;
    }
    h5 {
        font-size: 16px;
    }
}


.attendance-detail-wrapper {
    min-height: 250px;
    border-radius: 8px;
    box-shadow: 0px 6px 6px #00000033;
    position: relative;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    > div { 
        flex: 1;
        text-align: center;
        > .time {
            margin: 0 0 10px;
            display: block;
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 2px;
        }
        > .info {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            color: lighten($color-black, 60%);
        }
    }
    .break-hour {
        &:before, &:after {
            content: '';
            width: 2px;
            height: 100%;
            border-left: 2px dashed lighten($color-black, 50%);
            position: absolute;
            top: 0;
            // transform: translate(-33.33%, 0);
        }
        &:before { left: 33.33%; }
        &:after { right: 33.33%; }
    }
}

.attendance-info {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 6px 6px #00000033;
    background-color: $color-white;
}

.calendar-wrapper {
    margin: 15px 0 0;
}

.calendar-heading {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    .day-name {
        height: auto;
        padding: 15px 0;
        border-bottom: 3px solid lighten($color-black, 75%);
        color: lighten($color-black, 40%);
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
    }
}

.calendar-data {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    > div {
        height: auto;
        padding: 15px 0;
        border-bottom: 2px solid lighten($color-black, 75%);
        color: lighten($color-black, 40%);
        font-size: 18px;
    }

    .date-details {
        span {
            display: block;
            color: $color-white;
            &.total-work-time {
                background-color: green;
            }
            &.total-break-time {
                background-color: red;
            }
        }
    }
}