<div class="home-page-wrapper">
    <div class="container">

        <div class="breadcrumb" *ngIf="isAdmin">
            <h2 class="font-muli"><mat-icon>list</mat-icon> <span routerLink="/dashboard">Dashboard</span> / <span>User Attendance Info</span></h2>
        </div>

        <!-- user detail -->
        <div class="user-detail">
            <div class="row">
                <div class="col-3">
                    <div class="user-basic-info">
                        <div class="profile-img">
                            <mat-icon>person</mat-icon>
                        </div>
                        <h4>{{userData?.name}}</h4>
                        <h5>{{userData?.designation}}</h5>
                    </div>
                </div>
                <div class="col-9" *ngIf="!isAdmin">
                    <div class="attendance-detail-wrapper">
                        <div class="working-hour">
                            <span class="time">
                                <span class="hours">{{todayAttendance?.hoursWorked}}h </span>
                                <span class="minutes">: {{todayAttendance?.minutesWorked}}m</span>
                            </span>
                            <span class="info">Total Work Time</span>
                        </div>
                        <div class="break-hour">
                            <span class="time">
                                <span class="hours">{{todayAttendance?.hoursBreak}}h </span>
                                <span class="minutes">: {{todayAttendance?.minutesBreak}}m</span>
                            </span>
                            <span class="info">Total Break Time</span>
                        </div>
                        <div class="handle-attendance">
                            <button class="button-primary" *ngIf="viewStartBtn" mat-raised-button (click)="startDayNew()">Start</button>
                            <button class="button-primary" *ngIf="viewBreakInBtn" mat-raised-button (click)="breakInNew()">Break In</button>
                            <button class="button-primary" *ngIf="viewBreakoutBtn" mat-raised-button (click)="breakOutNew()">Break Out</button>
                            <button class="button-primary" *ngIf="viewEndBtn" mat-raised-button (click)="endDayNew();">End</button>
                            <!-- <button class="button-primary" mat-raised-button (click)="endDayNew();">End</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- show calendar details -->
        <div class="attendance-info">
            <!-- filters -->
            <div class="filters">
                <form [formGroup]="calenderForm">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="">
                                <mat-label>Month</mat-label>
                                <mat-select formControlName="month">
                                    <mat-option *ngFor="let month of monthList; let i = index" [value]="i">
                                        {{month}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="">
                                    <mat-label>Year</mat-label>
                                    <mat-select formControlName="year">
                                        <mat-option *ngFor="let year of yearList; let i = index" [value]="year">
                                            {{year}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                        </div>
                        <div class="col">
                            <button class="button-primary" mat-raised-button (click)="filterCalendar(calenderForm.value)">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- show calendar -->
            <div class="calendar-wrapper">
                <div class="calendar-heading">
                    <div class="day-name">Sun</div>
                    <div class="day-name">Mon</div>
                    <div class="day-name">Tue</div>
                    <div class="day-name">Wed</div>
                    <div class="day-name">Thur</div>
                    <div class="day-name">Fri</div>
                    <div class="day-name">Sat</div>
                </div>
                <div class="calendar-data">
                    <div *ngFor="let day of calendarData">
                        <div class="date-info clearfix">
                            <div class="float-start">
                                {{day.dateNo}}
                            </div>
                            <div class="float-end">
                                <div class="date-details">
                                    <span class="total-work-time" *ngIf="day?.totalWorkTime">{{day?.totalWorkTime}}</span>
                                    <span class="total-break-time" *ngIf="day?.breakTime">{{day?.breakTime}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>